.MenuPausa {
    

    .MenuPausa__boton {
        cursor: pointer;
        font-size: 5em;
        position: fixed;
        top: 0px;
        left: 10px;
        background-color: red;
        color: aqua;
        padding: 2px;
    }

    .MenuPausa__modal {
        height: 100vh;
        background-color: yellow;
        overflow: hidden;

        .MenuPausa__modal__tache {
            cursor: pointer;
            background-color: aqua;
            color: darkgreen;
            right: 0;
            position: absolute;
            font-size: 5em;
            z-index: 1;
        }

        .MenuPausa__modal__imagen {
            background-color: darkmagenta;
            position: absolute;
            height: 100vh;
            left: 0;
            width: 50%;
            
            .MenuPausa__modal__imagen--activada {
                width: 100%;
                height: 100%;
                                
            }

        }

        .MenuPausa__modal__texto {
            background-color: red;
            position: absolute;
            top: 10%;
            height: 150vh;
            right: 0;
            width: 50%;
            transform: rotate(-20deg) translateY(calc(6.04vh - 17.1vw));
            
            .MenuPausa__modal__texto__lista {
                background-color: green;
            } 
        } 
    }
}